@font-face {
  font-family: 'Kabel';
  src: url('/fonts/KabelBook.woff2') format('woff2'),
    url('/fonts/KabelBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kabel Black';
  src: url('/fonts/Kabel-Black.woff2') format('woff2'),
    url('/fonts/Kabel-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --header-height: 3rem;
  --nav-width: 80px;
  --normal-font-size: 1rem;
  /*layering*/
  --z-fixed: 100;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  background-color: #F4F4F4 !important;
  font-size: var(--normal-font-size);
  transition: .5s;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.fa-circle {
  font-size: 30px;
  color: #399FB7;
}


.fa-play-circle, .fa-chart-bar, .fa-sticky-note {
  font-size: 30px;
}

/* Navbar on top*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #2D313C;
  z-index: var(--z-fixed);
  transition: .5s;
}

.nav-horizontal {
  display: flex;
  justify-content: space-around;
  width: 0%;
  margin-right: 5.5rem;
}

.nav-horizontal a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  padding-right: 50px;
}

.nav-horizontal a:hover {
  color: #399FB7;
  transition-timing-function: ease-in-out;
  transition: 0.4s;
}

.nav-horizontal li {
  list-style: none;
}

.header-toggle {
  margin-left: 2rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/*Side navbar=*/
.side-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: #2D313C;
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav-logo, .nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav-logo {
  margin-bottom: 2rem;
}

.nav-logo-name {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Kabel', sans-serif;
  z-index: -1;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  position: relative;
  color: #F4F4F4;
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav-link:hover {
  color: #C8F205;
}

.show {
  left: 0;
}

.active {
  color: #C8F205;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #fff;
}

.wrapper-video-tab > div {
  padding: 1em;
  background-color: #fff;

}

.wrapper-video-tab {
  display: grid;
  margin-top: 6em;
  margin-right: 3em;
  grid-template-columns: 70% 30%;
  grid-gap: 1.5em;
  margin-bottom: -86px;
}

.wrapper-graph {
  display: grid;
  margin-top: 110px;
  margin-right: 1.5rem;
  grid-template-columns: 100%;
  grid-gap: 1.5em;
  padding: 1em;
  margin-bottom: -86px;
  background-color: #2D313C;
  padding-bottom: 170px;
}


.wrapper-notes-tab > div {
  padding: 1em;
  background-color: #fff;
  width: 102%;

}

.wrapper-notes-tab {
  display: grid;
  margin-top: 6em;
  margin-right: 3em;
  grid-template-rows: repeat( auto-fit, minmax(1fr, 1fr) );
  grid-gap: 1.5em;
}

.get-notes p {
  text-decoration: none;
  color: #2D313C;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}


.notes-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.note {
    border: 3px solid #2D313C;
    border-radius: 10px;
    color: #2D313C;
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    padding-bottom: 50px;
    position: relative;
    min-height: 100px;
}

.title {
  text-decoration: none;
  color: #2D313C;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-align: center;
}

.title span {
  color: #0069ed;
}
.note .title{
    margin-bottom: 10px;
    font-weight: bold;
}
.note .title a {
    color: #2D313C;
}
.note .close {
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: -2; right: 0;

}

.notes-box button {
  display: inline-block;
    border: none;
    padding-top: 0.3em;
    padding-bottom: 0em;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
    background: #2D313C;
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.notes-box button:hover {
  background: #0069ed;
}

.notes-box button:active {
 transform: scale(0.95);
}


.note small {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-top: 10px;
    display: block;
    text-align: right;
    font-style: italic;
}



[type="date"] {
  background:#2D313C url(img/calendar.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.date-picker {
 text-align: center;
}

.date-picker label{
  display: inline-block;
  padding-right: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.date-picker input{
  border: 2px solid #2D313C;
  border-radius: 5px;
  color: #fff;
  background-color: #2D313C;
  padding: 3px 5px;
  width: 150px;
  height: auto;
}

.web-video {
  margin-top: 25px;
  text-align: center;
}

.notes {
  padding: 1em;
}

.new-note {
  display: grid;
  text-align: center;

}

.note-top {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  color: #2D313C;
  padding-bottom: 10px;
}

.notes-textarea {
  resize: none;
  margin-top: 10px;
  margin-bottom: 15px;
  outline: none;
}

.fa-clipboard {
  color: #399FB7;
  padding-right: 5px;
}

.notes button {
  display: inline-block;
    border: none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
    background: #0069ed;
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.notes button:hover {
  background: #2D313C;
}

.notes button:active {
 transform: scale(0.95);
}

#timeString {
  color: #0069ed;
  cursor: pointer;
  font-size: 21px;
}



@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .side-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  /*Extend the sidebar width when toggled*/
  .show {
    width: calc(var(--nav-width) + 150px);
  }

  /*Add padding body desktop*/
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
